<!-- recap paiements sélectionnés -->
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-7">
        <div class="ibox ">
          <div class="col-12 border border-dark bg-white">
           <div class="row" *ngFor="let scheduledPayment of scheduledPayments">
            <div class="col-6 text-left">{{scheduledPayment.natureOfTax}}</div>
            <div class="col-6 text-right">{{scheduledPayment.paymentAmount | number:'0.0'}} FCFA</div>
           </div>
          <div class="row bg-primary py-3">
        <div class="col-6 text-left">Montant Total</div>
        <div class="col-6 text-right">{{total| number}} FCFA</div>
      </div>
         </div>
         <br>
         <hr>
  <!-- choix moyens de paiements -->
  <form  (ngSubmit)="paymentValide()" >
  <div class="row" *ngFor="let mp of TabData ;let i=index" >
      <div class="col-6 text-left">
        <input type="number" class="form-control" [(ngModel)]="mp.montant" name="montant{{i}}"  #num (keyup)="calculTotal(num.value)"placeholder="Montant"> </div>
      <div class="col-5 text-right">
          <select class="custom-select" [(ngModel)]="mp.name" name="name{{i}}" >
              <option selected >Moyen de paiement</option>
              <option  *ngFor="let pm of paymentMethods"  >{{pm.name}}</option>
            </select>
      </div>
      <div class="col-1" *ngIf="i!==0"><i class="fa fa-trash-o bg-danger" (click)="removePay(i)"></i></div>
        </div>
        <div class="row">
        <div class="col-6"></div>
        <div class="col-6 text-right">
            <button class="btn btn-primary btn-lg" (click)="addPayment()">
            Ajouter un paiement
            </button>
          </div>
        </div>
           <br>
            <hr>
            <div class="col-12">
            <div class="row bg-primary py-2">
                <div class="col-6">Reste a payer </div>
                <div class="col-6 text-right">{{total1| number}} FCFA</div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6">
                 </div>
                 <div class="col-6 text-right">
                    <button class="btn btn-primary btn-lg" type="submit" routerLink="/pM">
                       Valider
                    </button>
                  </div>

            </div>
          </form>
    </div>
  </div>
</div>
</div>

