<app-sousnavbar></app-sousnavbar>

           <div class="ibox-content">
              <div class="wrapper wrapper-content">
                  <div class="middle-box text-center animated fadeInRightBig">
                      <h2 class="font-bold">Merci de votre fidélité !</h2>
                      <div class="error-desc">
                        <div class="col">Votre demande paiement à été envoyée à votre service de paiement</div>
                        Merci de noter que la confirmation du paiement peut prendre jusqu'à 5 jours ouvrables
                          <br/>
                          Votre numéro de confirmation est :BT10016
                          <br/>
                          <a routerLink="/payment.methode" (click)="valider()">Cliquez pour retourner sur FayTax</a>
                      </div>
                  </div>
              </div>
           </div>
<br>
<app-footer></app-footer>

