<app-sousnavbar></app-sousnavbar>
<br>
<br><br>
  <div class="p-w-md m-t-sm">
                   <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row text-center">
                                        <div class="col-3">
                                            <div class="payment-card">
                                                <img src="../../assets/images/OM.png" class="rounded-circle img-lg img-border" alt="Cinque Terre" (click)="affich()">
                                               </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="payment-card">
                                                <img src="../../assets/images/paypal.png" class=" img-border"  alt="Cinque Terre" (click)="affich()">
                                              </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="payment-card">
                                                <img src="../../assets/images/virement.png" class="img-border"  alt="Cinque Terre" (click)="affich()">
                                              </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="payment-card">
                                                <img src="../../assets/images/VISA.png" class="img-border" alt="Cinque Terre" (click)="affich()">
                                              </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive" *ngIf="click">
                                        <table class="table table-striped">

                                            <tbody>
                                              <tr>
                                                <th>Id:</th>
                                                <th>Nature d'impôt:</th>
                                                <th>Période d'imposition:</th>
                                                <th>Montant du paiement:</th>
                                                <th>Numéro du document: </th>
                                                <th>Date d'elibigité:
                                                </th>
                                                <th></th>
                                              </tr>
                                            <tr *ngFor="let t of tax">
                                                <td>{{t.id}}</td>
                                                <td>{{t.natureOfTax}}</td>
                                                <td>{{t.periodOfTaxation}}</td>
                                                <td>{{t.paymentAmount | number:'0.0':'fr'}} F CFA</td>
                                                <td>{{t.documentNumber}}</td>
                                                <td>{{t.eligibilityDate}}</td>
                                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
     </div>
