<app-sousnavbar></app-sousnavbar>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title  coleur-btn text-white">
                    <h5>Paiements</h5>
                </div>
                <div class="ibox-content">
                      <table class="footable table table-stripped toggle-arrow-tiny">
                        <tbody *ngFor="let mp of tabData" >
                            <tr *ngIf="mp.paiementMethodeId && mp.amount">
                                <td class="font-weight-bold" *ngIf="!mp.valide">Vous avez choisi de payer</td>
                                <td> {{mp.amount | number :'0.0':'fr'}} F CFA</td>
                                <td *ngIf="mp.paiementMethodeId =='Orange Money'"> <img src="../../../assets/images/OM.png" class="img" alt="image"></td>
                                <td *ngIf="mp.paiementMethodeId =='Carte Bancaire'"> <img src="../../../assets/images/VISA.png" alt="image" class="img img"></td>
                                <td *ngIf="mp.paiementMethodeId =='Paypal'"><img  src="../../../assets/images/paypal.png" class="img" alt="image"></td>
                                <td *ngIf="mp.paiementMethodeId =='Virement'"><img  src="../../../assets/images/virement.png" class="img" alt="image"></td>
                                <td *ngIf="!mp.valide && mp.paiementMethodeId =='Paypal'"><button type="submit" class="btn coleur b-r-xl border" (click)="recupereMethode(mp)"  routerLink="/paypal.html">Procéder au paiement</button></td>
                                <td *ngIf="!mp.valide && mp.paiementMethodeId =='Virement'"><button type="submit" class="btn coleur b-r-xl border" (click)="recupereMethode(mp)" routerLink="/payment.valide">Procéder au paiement</button></td>
                                <td *ngIf="!mp.valide && mp.paiementMethodeId =='Carte Bancaire'"><button type="submit" class="btn coleur b-r-xl border" (click)="recupereMethode(mp)"  routerLink="/Paiement-carte.html">Procéder au paiement</button></td>
                                <td *ngIf="!mp.valide && mp.paiementMethodeId =='Orange Money'"><button type="submit" class="btn coleur b-r-xl border" (click)="recupereMethode(mp)"  routerLink="/orage-money.html">Procéder au paiement</button></td>
                                <td *ngIf="mp.valide"><button class="btn coleur-success btn-circle btn-lg" type="button"><i class="fa fa-check"></i></button></td>
                                <td class="coleur-success1"  *ngIf="mp.valide  && mp.paiementMethodeId !='Virement'">Payé</td>
                                <td class="text-info"  *ngIf="mp.valide && mp.paiementMethodeId =='Virement'">En attente de validation</td>
                              </tr>
                        </tbody>
                      </table>
                 </div>
                 <div class="ibox-content font-weight-bold">
                   <div class="row">
                     <div class="col-6"></div>
                     <div class="col-3 text-right">Total à payer</div>
                     <div class="col-3"> {{total| number :'0.0':'fr'}} F CFA</div>
                   </div>
                   <div class="row">
                      <div class="col-6"></div>
                      <div class="col-3 text-right">Payé</div>
                      <div class="col-3"> {{amount1 | number :'0.0':'fr'}} F CFA</div>
                    </div>
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-3 text-right">Reste à payer</div>
                        <div class="col-3"> {{total2| number :'0.0':'fr'}} F CFA</div>
                      </div>
                 </div>
            </div>
        </div>
      </div>
</div>
<br>
<app-footer></app-footer>
