.coleur {
  color: white;
  background-color:#d49f3f;
  font-size: 15px;

}
.coleur-text{
  color: #bf702b;
  font-size: 15px;

}
.coleur-btn{
  background-color: #bf702b;
  font-size: 15px;

}
.coleur-success{
   background-color:   #0e3a03;
   color: aliceblue;
   font-size: 20px;

 }
 .coleur-success1{
   color:   #0e3a03;
   font-size: 20px;
 }
 .img {
  height: 50px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  background-size:200px;
}
