<app-sousnavbar></app-sousnavbar>
<app-hitorique *ngIf="isAdmin()"></app-hitorique>
<div class="container-fluid bg" *ngIf="isUser()">
<br><br>
      <div class="row">
          <div class="col-lg-12 text-white text-center">
                       <br><br><br><br>
                      <h1 class="font-bold" *ngIf="isUser()">Bienvenue Contribuable X
                        </h1>
                        <h1 *ngIf="isAdmin()">Bienvenue User X
                        </h1>
                      <p>
                         <strong> Faytax </strong> est votre plateforme de paiement des impôts. Sur<strong> Faytax </strong>  vous pouvez effectuer vos paiements en toute sécurité
                        <br> via plusieurs moyens de paiement
                      </p>
      </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row text-center">
       <div class="col-3"><img src="../../../assets/images/OM.png" alt="" class="img"></div>
       <div class="col-3"><img src="../../../assets/images/paypal.png" alt="" class="img"></div>
       <div class="col-3"><img src="../../../assets/images/VISA.png" alt="" class="img"></div>
       <div class="col-3"><img src="../../../assets/images/virement.png" alt="" class="img"></div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                  <div class="container">
                      <div class="row">
                        <div class="col-1"></div>

                            <div class="col-6 border-right">
                                <h3>
                                   - Mon compte vous permet de gérer votre espace personnel<br>
                                   - Mes paiements vous permet d'effectuer vos paiements groupés ou individuels <br>
                                   - Mon activité vous permet de consulter l'historique des vos paiements et opérations sur Faytax
                                  </h3>
                            </div>
                            <div class="col-4">
                              <br>
                              <br>
                                <button class="btn coleur border" routerLink="/taxes">Consulter mes paiements en attente</button>
                            </div>
                  </div>
                  </div>
                </div>

            </div>

        </div>

        </div>
    </div>
  </div>
