.bg {
  /* The image used */
  background-image: url("../../../assets/images/cover.png");

  /* Full height */
 /* height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg1{
  background: #bf702b60;
  width: 100%;
}
.coleur {
  color: white;
  background-color:#d49f3f;
  font-size: 15px;
  border-radius: 10px;

}
.icon-mat{
  color: #bf702bf6;
  font-size: 90px;
}
.coleur-icon {
  color: white;
  background-color:#d49f3f;
  text-align: center;
  margin: auto
}
img{
  border: #d38541fd solid;
}
.font-icon{
  font-size: 50px;
}
.img-border{
}
.slick_demo_2 .ibox-content {
  margin: 0 10px;
}
