<app-sousnavbar></app-sousnavbar>
<br>
<app-hitorique *ngIf="isAdmin()"></app-hitorique>
<br>
<div class="container-fluid bg" *ngIf="isUser()">
<br><br>
<br><br>
      <div class="row">
          <div class="col-lg-12 text-white text-center">
                       <br><br><br><br>
                      <h1 class="font-bold" *ngIf="isUser()">Bienvenue Contribuable X
                        </h1>
                        <h1 *ngIf="isAdmin()">Bienvenue User X
                        </h1>
                      <p>
                         <strong> Faytax </strong> est votre plateforme de paiement des impôts. Sur<strong> Faytax </strong>  vous pouvez effectuer vos paiements en toute sécurité
                        <br> via plusieurs moyens de paiement
                      </p>
      </div>
    </div>
</div>
<br>
<div class="card" *ngIf="isUser()">
    <angular-image-slider  [autoRotate]="true"
    [autoRotateAfter]="5000"
    [autoRotateRight]="true" [images]="imagesUrl"></angular-image-slider>
</div>
<br>
<div class="container" *ngIf="isUser()">
    <div class="row">
        <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                  <div class="container">
                      <div class="row">
                        <div class="col-1"></div>
                        <div class="col-2 text-center ">
                          <img src="../../../assets/imgs/question2.png" alt="" class="img-md">
                        </div>

                            <div class="col-4 border-right text-justify" style="font-size: 15px;">
                                <p>
                                   - Gérer votre espace personnel<br>
                                   - Effectuer un paiement <br>
                                   - Consulter l'historique des vos paiements
                                  </p>
                            </div>
                            <div class="col-4">
                              <br>
                              <br>
                                <button class="btn coleur border" routerLink="/taxes">Consulter mes paiements en attente</button>
                            </div>
                  </div>
                  </div>
                </div>

            </div>

        </div>

        </div>
    </div>
  </div>
  <br>  <br>
  <br>
  <br><br>
  <app-footer></app-footer>
