.bg {
  /* The image used */
  background-image: url("../../../assets/images/BANIERE.png");

  /* Full height */
 /* height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mySlides {display:none;}
.bg1{
  background:  rgb(224, 13, 13);
  width: 100%;
}
.coleur {
  color: white;
  background-color: rgb(224, 13, 13);
  font-size: 15px;
  border-radius: 10px;

}
.icon-mat{
  color:  rgb(224, 13, 13);
  font-size: 90px;
}
.coleur-icon {
  color: white;
  background-color: rgb(224, 13, 13);
  text-align: center;
  margin: auto
}
// img{
//   border: #d38541fd solid;
// }
.font-icon{
  font-size: 50px;
}
.img-border{
}
.slick_demo_2 .ibox-content {
  margin: 0 10px;
}
