 <div class="row coler fixed-bottom border-top h ">
    <ul class="nav col-6 text-center" >
      <li><a href="#" style="color: #bf702bfd;">Contact</a></li>
      <li><a href="#" style="color: #bf702bfd;">FAQ</a></li>
      <li><a href="#" style="color: #bf702bfd;">Securité</a></li>
    </ul>
    <div class="col-3"></div>
    <ul class="nav col-3 " >
        <li>
          <a href=""><img src="../../../assets/imgs/tresor-public-senegal-logo.png" alt="" class="img-md"></a>
        </li>
        <li><a href=""><img src="../../../assets/imgs/ministere-finances.png" alt="" class="img-md"></a></li>
      </ul>
  </div>

