// .footer{
//   display: flex;
//    height: 130px;
//    align-items: center;
//    background-color: rgba(240, 243, 243, 0.993);
// }
// .singe{
//   text-align: center;
//   color: rgba(1, 2, 19, 0.541);
//   font-size: 15px;
//   font-style: normal;
//   padding: 50px;
// }
.coler{
  height: 50px;
  background-color: white;
}
// .img {
//   margin-top: 5px;
//   height:30px;
//   width: 160px;
//   display: inline-block;
//   vertical-align: middle;
//   background: url('../../../assets/imgs/tresor-public-senegal-logo.png') no-repeat center center;
//   background-size:120px;
// }
// .img1 {
//   margin-top: 5px;
//   height:30px;
//   width: 160px;
//   display: inline-block;
//   vertical-align: middle;
//   background: url('../../../assets/imgs/ministere-finances1.png') no-repeat center center;
//   background-size:120px;
// }

// li{
//   color: white;
//   list-style: none;
// }
// a{
//   text-decoration: none;
//   font-size: 15px;
// }
 .h{
   height: 80px;
 }
