<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Paiement</h5>
            </div>
            <div class="ibox-content">
                  <table class="footable table table-stripped toggle-arrow-tiny">
                      <tr>
                          <td>Side marchand</td>
                          <td class="text-right">FAYTAX</td>
                        </tr>
                      <tr>
                          <td>Referace commande</td>
                          <td class="text-right">002218222f</td>
                        </tr>
                      <tr>
                          <td>Commande</td>
                          <td class="text-right">Paiement D'impot</td>
                        </tr>
                    <tr>
                      <td>Total de votre commende</td>
                      <td class="text-right bg-ligth">50 000F Cfa</td>
                    </tr>
                  </table>

             </div>
             <div class="ibox-content">
               <div class="row">
                 <h4>
                   Paiement Securice avec Orange Money <img src="" alt="image">
                 </h4>
               </div>
               <p></p>
                <form action="">
                  <div class="row">
                      <label for="" class="col-5 text-right"> Numero de Telephone </label>
                      <input type="text" class="col-6" placeholder="Numero de Telephone" >
                  </div>
                    <p></p>
                   <div class="row">
                      <label for="" class="col-5 text-right"> Code d'autorisation</label>
                      <input type="text" class="col-6" placeholder="Code d'autorisation">
                   </div>
                   <p></p>
                   <div class="row">
                     <div class="col-5"></div>
                      <button type="submit" class="btn btn-danger col-2">annuler</button>
                      <div class="col-1"></div>
                      <button type="submit" class="btn btn-primary col-2">valider</button>
                    </div>
                </form>
             </div>
        </div>
    </div>
  </div>
