<app-sousnavbar></app-sousnavbar>
<br><br>
<br>
<br><br>
<br>
<div class="contaire">
  <div class="row">
<div class="col-2"></div>
    <div class="col-lg-8" *ngIf="methode == 'Virement'">
        <div class="ibox ">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12 text-center"><h3 class="m-t-none m-b">Payer avec un compte déja enregistré</h3>

                    <p>Remplir les Champs</p>

                    <form #f="ngForm" (ngSubmit)="OneClique(f.value)" >
                        <div class="form-group row">
                            <div class="form-group col-5 text-right">
                                <label>
                                  Sélectionnez votre compte
                                  </label>
                              </div>
                            <div class="form-group col-5">
                                <select class="custom-select" name="">
                                    <option selected > ---Banque---</option>
                                    <option  *ngFor="let bq of banques">{{bq.name}}</option>
                                  </select>
                                 </div>
                             </div>
                        <div class="form-group row">
                            <div class="form-group col-5 text-right">
                                <label>
                                  Montant du paiement
                              </label>
                              </div>
                              <div class="form-group col-5">
                          <input type="taxt" value="{{amount}}" readonly class="form-control">
                          </div>
                        </div>
                        <div>
                            <button class="btn btn-sm coleur m-t-n-xs" type="submit" routerLink="/Valide">
                              <strong>Valider</strong>
                            </button>
                        </div>
                    </form>
                </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-2"></div>
  </div>
  </div>
<br>
<app-footer></app-footer>
