<app-sousnavbar></app-sousnavbar>
<div class="container-fluid bg">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
      <div class="col-6"></div>
      <div class="col-1"></div>
      <div class="col-5"><h1 class="text-white "><strong>FAYTAX</strong> ,VOTRE PLATEFORME<br> SÉCURISÉE DE PAIMENT DES IMPÔTS</h1>
      </div>
  </div>
</div>
<div class="loginColumns animated">
    <div class="row">
        <div class="col-md-6">
            <h4> <p> Payez vos impôts et taxes en quelques clics via plusieurs moyens de paiement :</p>
            </h4>
              <h4>
                <p>
                    -Virement bancaire
                </p>
                <p>
                    -Carte bancaire
                </p>
                <p>
                    -Paypal
                </p>
                <p>
                    -Orange Money...
                </p>
            </h4>
        </div>
        <div class="col-md-6">
            <div class="ibox-content bg1">
                <form #f="ngForm" (ngSubmit)="OneClique(f.value)">
                    <div class="form-group">
                        <input type="text" ngModel class="form-control form-control-sm " style="border: none;" placeholder="Nom d'utilisateur" required="" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" ngModel class="form-control form-control-sm" style="border: none;"  placeholder="Mot de passe" required="" name="password">
                    </div>
                    <button type="submit" class="btn coleur block full-width m-b">Connexion</button>

                    <p class="text-center text-white">
                        <small>Vous n'avez pas de compte?</small>
                    </p>
                    <a class="btn btn-sm coleur-icon btn-block" routerLink="/register">Créer un compte</a>
                </form>
            </div>
        </div>
    </div>
    <hr/>
</div>
<div class="row text-center">
  <div class="col-4">
    <p>
      <img src="../../assets/images/icons-02.png" alt="" class="img-md">
    </p>
    <h4>Consultez la liste de vos télédéclarations en attente de paiement puis sélectionnez les éléments que vous souhaitez payer
    </h4>
  </div>
  <div class="col-4">
    <p>
        <img src="../../assets/images/icons-01.png" alt=""class="img-md">
    </p>
    <h4>
      Choisissez le(s) mode(s) de paiement
    </h4>
  </div>
  <div class="col-4">
    <p>
        <img src="../../assets/images/icons-04.png" alt="" class="img-md">
    </p>
    <h4>
      Payez en toute sécurité sur FayTax
    </h4>
  </div>
</div>
<br>
<div class="row">
  <br>
  <div class="col-md-6">
  </div>
  <div class="col-md-6 text-right">
  </div>
</div>
