.bg {
  /* The image used */
  background-image: url("../../assets/images/BANIERE.png");

  /* Full height */
 /* height: 100%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
  height: 200px;

}
.text-center{
  margin: 10px;
}
.contaner{
 // margin-top: 100px;
  background: white;
  border: 1px solid white;
  padding: 20px;
  box-shadow: 2px 2px 3px 3px rgb(236, 232, 232),2px 2px 3px 3px rgba(107, 88, 88, 0.205);
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
   div {
     width: 50%;
    // margin: 10px;
  }
  .hal{
      margin:0px;
      height: 100%;
      background-color: rgb(224, 13, 13) !important;
      padding:100px;
      border-radius:0 50% 50% 0;
      // transform: rotate(-50deg);
      // -ms-transform: rotate(45deg); /* IE 9 */
      // -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      margin-bottom: auto;
      color: white;
      .tex{

        font-weight: bold;
        font-size: 12px;
      }
      .hak{
        float: right;
      }
  //   border: 2px solid;
   }
  // .text-contener{
  //   font-size: 15px;
  // }
  .form-contener{

  }
}

.bg1{
  background-color:white;
  margin-left:15px;
  // width: 100%;
  // height: 100%;

}
.coleur {
  color: white;
  background-color:rgb(31, 12, 12) ;
  font-size: 15px;
}
.coleur-text{
  color: rgb(224, 13, 13) ;
}
.coleur-icon {
  color: white;
  background-color:rgb(224, 13, 13) ;
  text-align: center;
  margin: auto
}
.font-icon{
  font-size: 50px;
}
.img-border{
  border: rgb(224, 13, 13) 2px solid;
}
.slick_demo_2 .ibox-content {
  margin: 0 10px;
}
