<app-sousnavbar></app-sousnavbar>
<br><br>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title coleur">
                <h5>Sélectionner les éléments que vous souhaitez payer</h5>
            </div>
            <div class="ibox-content">
                <table class="footable table table-striped toggle-arrow-tiny">
                    <thead>
                    <tr>
                        <th data-toggle="true">Régime</th>
                        <th>Période</th>
                        <th>Montant</th>
                        <th data-hide="all">N° de lot</th>
                        <th data-hide="all">Référence</th>
                        <th data-hide="all">Date d'élibigité</th>
                        <th>Sélection</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of taxes">
                            <td>{{t.natureOfTax}}</td>
                            <td>{{t.periodOfTaxation}}</td>
                            <td >{{t.paymentAmount  | number:'0.0':'fr'}} F CFA</td>
                            <td>{{t.documentNumber}}</td>
                            <td>{{t.eligibilityDate}}</td>
                            <td>{{t.eligibilityDate}}</td>
                            <td>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" (change)="choose(t,t.paymentAmount)" id="defaultCheck1" checked>
                              </div></td>
                        </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination float-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <div class="row mr-2 mb-2">
                    <div class="col-6">
                        {{ montantTotal | number:'0.0':'fr'}} F CFA
                      </div>
                    <div class="col-6 text-right">
                          <button class="btn coleur btn-lg" (click)="save()">
                              Suivant
                            </button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>
