.full-width-table {
  width: 100%;
}
.img{
   width: 150px;
   height: 100px;
}
.img:hover{
  background-color: rgba(221, 91, 16, 0.24);
}

.btn-cherche {
  background-color: #d49f3f;
}

.text-colaur{
  color: #d49f3f;
}
