.full-width-table {
  width: 100%;
}
.img{
   width: 150px;
   height: 100px;
}
.img:hover{
  background-color:  rgb(224, 13, 13);
}

.btn-cherche {
  background-color: red;
}

.text-colaur{
  color: red;
}
