<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
              <div class="logo-element">
                FayTax
              </div>
          </li>
          <li class="active">
              <a routerLink="/"><i class="fa fa-th-large"></i> <span class="nav-label">Accueil</span> <span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                  <li class="active"><a routerLink="/">1</a></li>
                  <li><a routerLink="/">v.2</a></li>
                  <li><a routerLink="/">v.3</a></li>
              </ul>
          </li>
          <li>
              <a routerLink="/taxes"><i class="fa fa-star"></i>Consulter les paiement</a>
          </li>
          <li class="special_link">
              <a routerLIink="/Account"><i class="fa fa-database"></i> <span class="nav-label">Ajouter de compte</span></a>
          </li>
      </ul>

  </div>
</nav>
