.coleur {
  color: #bf702b;
  font-size: 15px;

}
.coleur-menu{
  color:#bf702b;
}
.img {
  height: 50px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../assets/images/Logo-Faytax-V2.png') no-repeat center center;
  background-size:200px;
}
.logo-img {

}
