.coleur {
  color:  rgb(224, 13, 13);
  font-size: 15px;

}
.coleur-menu{
  color: rgb(224, 13, 13);
}
.img {
  height: 50px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../assets/images/LOGO\ PAY\ IPRES.png') no-repeat center center;
  background-size:200px;
}
.logo-img {

}
